<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>

  <!-- Settings for Service Repository -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPersonService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint 
        address="http://localhost:1502/PersonService.svc" 
        binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPersonService" 
        contract="MyService.IPersonService"
        name="BasicHttpBinding_IPersonService" />
    </client>
  </system.serviceModel>

  <!-- Settings for CSV Repository -->
  <appSettings>
    <add key="CSVFileName" value="People.txt"/>
  </appSettings>

  <!--  Settings for SQL Repository -->
  
  <!-- Name  attribute is used in DbContext constructor 
      public AMLLinesCF() : base("name=AMLLinesCF")
   -->
  <connectionStrings>
    
    <add name="PeopleEntities"
         connectionString="metadata=res://*/PeopleModel.csdl|res://*/PeopleModel.ssdl|res://*/PeopleModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\People.sdf&quot;"
         providerName="System.Data.EntityClient" />
    
    <add name="AMLLinesCF" 
         connectionString="data source=easeworks-eng.easeinc.com,1533;initial catalog=AML_PROD_20180726;user id=sa;password=u2BvfjByGVaXqF;MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" />

    <add name="VNCLocal"
     connectionString="data source=.;initial catalog=VNC;Integrated Security=true"
     providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  
</configuration>